body {
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: hsl(0, 2%, 70%);
  color: hsl(0, 26%, 7%);
}

body.light-mode {
  background-color: #333;
  color: #fff;
}

.theme-toggle {
  padding: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.dark-mode button {
  background-color: #f1c40f;
  color: #333;
}

.dark-mode button:hover {
  background-color: #f39c12;
}